<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.lete114.mapper.CommentMapper">
    <!--查询全部信息and分页-->
    <select id="findBlogCommentList" parameterType="Map" resultType="Map">
        select * from comment
        where 1=1
        <if test="blogId!=null">
            AND blogId = #{blogId}
        </if>
        <if test="commentStatus!=null">
            AND commentStatus = #{commentStatus}
        </if>
        order by commentId desc
        <if test="start!=null and limit!=null">
            limit #{start},#{limit}
        </if>
    </select>

    <!--查询总数-->
    <select id="getTotalBlogComments" parameterType="Map" resultType="int">
        select count(*) from comment
        where 1=1
        <if test="blogId!=null">
            AND blogId = #{blogId}
        </if>
        <if test="commentStatus!=null">
            AND commentStatus = #{commentStatus}
        </if>
    </select>

    <!--根据主键查询-->
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultType="Comment">
        select * from comment
        where commentId = #{commentId}
    </select>

    <!--删除-->
    <delete id="deleteBatch">
        delete from comment
        where commentId in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>


    <!--审核-->
    <update id="checkDone">
        update comment
        set commentStatus=1 where commentId in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>

    <!--回复-->
    <insert id="reply" parameterType="top.lete114.entity.Comment">
        insert into comment(
        blogId,nick,email,link,
        content,commentatorIP,createTime,
        isReply,commentStatus,commentUrl)
        values(#{blogId},#{nick},#{email},#{link},
        #{content},#{commentatorIP},#{createTime},#{isReply},
        #{commentStatus},#{commentUrl})
    </insert>
</mapper>